<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Loading...</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript">
/*!
    @fn         function debug(p_msg)
    @param		p_msg Message to display
    @brief      Debugging routine
    @author     James Mc Parlane
    @date       10 June 2005
*/
function debug(p_msg)
{
    alert(p_msg);
}


/*!
    @fn         function error(p_msg)
    @param		p_msg Message to display
    @brief      Error routine
    @author     James Mc Parlane
    @date       10 June 2005
*/
function error(p_msg)
{
    alert(p_msg);
}

/*!
    @fn         function warn(p_msg)
	@param		p_msg Message to display
    @brief      Warn routine
    @author     James Mc Parlane
    @date       10 June 2005
*/
function warn(p_msg)
{
    alert(p_msg);
}

/*!
    @fn         function trace(p_msg)
	@param		p_msg Message to display
    @brief      Trace routine
    @author     James Mc Parlane
    @date       10 June 2005
*/
function trace(p_msg)
{
    //window.status = p_msg;
}

/*!
    @fn         function ASSERT(p_cond,p_msg)
	@param		p_cond The flag that determines if we don't display p_msg
	@param		p_msg Message to display
    @brief      If p_cond is not true then display p_msg
    @author     James Mc Parlane
    @date       10 June 2005
*/
function ASSERT(p_cond,p_msg)
{
    if (!p_cond)
    {
        alert(p_msg);
    }
}
</script>
<script type="text/javascript" src="../base/mw_lib.js" ></script>
<script type="text/javascript" src="../pipeline/mw_lib_pipeline.js"></script>
<script type="text/javascript" src="../network/mw_lib_network.js" ></script>
<script type="text/javascript" src="../xml/mw_lib_xml.js" ></script>
<script type="text/javascript" src="../xml/mw_lib_xml_serialise.js" ></script>
<script type="text/javascript" src="../xslt/mw_lib_xml_xslt.js" ></script>
<script type="text/javascript" src="../cookie/mw_lib_cookie.js" ></script>
<script type="text/javascript" src="../css/mw_lib_css.js" ></script>
<!--<script type="text/javascript" src="../logger/mw_lib_logger.js" ></script>-->
<script type="text/javascript" src="../objectmodel/mw_lib_objectmodel.js" ></script>
<script type="text/javascript" src="../objectmodel/mw_lib_objectmodel_node.js" ></script>
<script type="text/javascript" src="../objectmodel/mw_lib_objectmodel_node_cookie.js" ></script>
<script type="text/javascript" src="../view/mw_lib_view.js" ></script>
<script type="text/javascript">

function start()
{
	var l_main = new MetaWrap.View.Page("main","../../tests/view/");
	l_main.load();
	l_main.render();

	// Create a page delta
    var l_default = new MetaWrap.View.Page.Delta(l_main,"default");
    l_default.render();

    //l_main.renderAspect("logged_out");
    l_main.renderAspect("logged_in");
}
</script>

</head>
<body onload="start()">
<h1>Loading.....</h1>
</body>
</html>

